# Flask server setting
FLASK_SECRET_KEY=todo-app-secret-key

# MySQL query logging setting
MYSQL_LOG_ENABLED=1
MYSQL_HOST=192.168.56.102
MYSQL_PORT=3306
MYSQL_USER=todo_logger
MYSQL_PASSWORD=todo_logger_pw
MYSQL_DATABASE=todo_log
